<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %c{1} - %msg%n" />		
                </Console>
	</Appenders>
	<Loggers>
		<Logger name="com.mongodb" level="OFF"/>
		<Logger name="org.mongodb" level="OFF"/>
		<Logger name="org.springframework" level="OFF"/>
		
		<Root level="DEBUG">
			<AppenderRef ref="CONSOLE"/>
		</Root>
	</Loggers>
</Configuration>
